body {
    color: white;
    background-image: url("images/universe.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    text-align: center;
}

/* .wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    width: 300px;
    text-align: center;
    font-size: 15px;
    justify-content: center;
    align-items: center;
} */

.btn {
    font-size: large;
    padding: 8px 9px;
    /* width: 80px; */
    border: none;
    background: white;
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.underline {
    border-bottom: 4px solid white;
}

#logo {
    width: 100px
}