
body {
    color: #82a5ca;
    /* background-image: url("images/galaxy.webp");
    background-size: cover; */
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#hero {
    background-image: url("images/galaxy.webp");
    background-size: cover;
    padding: 10px 0 40px 0; 
}

/* .wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    width: 300px;
    text-align: center;
    font-size: 15px;
    justify-content: center;
    align-items: center;
} */

.btn {
    font-size: large;
    padding: 8px 9px;
    /* width: 80px; */
    border: none;
    background: white;
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #82a5ca;
}

.underline {
    border-bottom: 4px solid white;
}

#logo {
    width: 100px
}